
/* HIPERLINKS */

/* estilo para links normais */
a {
  color: #0055aa;             /* cor padrão do link */
  font-family: "Roboto", sans-serif;  /* ou qualquer fonte desejada */
  text-decoration: underline; /* ou 'none', 'dotted', etc. */
}

/* estilo para links ao passar o mouse (hover) */
a:hover {
  color: #ff6600;
  text-decoration: underline dotted;    /* incluindo os de menu da navbar */
}


/* Cores de Fontes */

.fonte-verde {
  color: seagreen;
}

.fonte-azul {
  color: royalblue;
}

.fonte-vermelha {
  color: firebrick;
}

.fonte-destaque {
  color: darkorange;
  font-weight: bold;
}

.fonte-branca {
  color: white;
}

/* ############ RODAPÉ DE REFERÊNCIAS ############### */

.quarto-footnotes {
  background-color: transparent !important;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1rem;
  font-size: 0.9em;
  color: inherit;
}


/* ##################### LOGO DO SITE #######

/* Aumenta o tamanho do logo da navbar */
.navbar-brand {
  height: 32px !important;  /* ou 40px, 48px, etc. */
  margin-right: 0px;
  margin-left: 0px !important;    /* Remove espaço à esquerda */
  margin-right: 0.5rem !important;  /* Pequeno respiro à direita, opcional */
  padding-left: 0 !important;
}


/* ################ NAVBAR (menu de navegação) ##################*/

/* ################ Separação de ítens ############*/

.navbar-nav .dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #379CD4;
}

/* ############## Cores de separação ########*/


/* Aplica uma cor diferente aos itens da navbar, por ordem */
.navbar-nav > li:nth-child(1) > a {
  background-color: #379CD4; /* azul escuro - Ensino Superior */
  color: white !important;
}

.navbar-nav > li:nth-child(2) > a {
  background-color: #379CD4; /* azul escuro - Ensino Superior */
  color: white !important;
}

.navbar-nav > li:nth-child(3) > a {
  background-color: #379CD4 ; /* azul escuro - Ensino Superior */
  color: white !important;
}

.navbar-nav > li:nth-child(4) > a {
  background-color: #379CD4 ; /* azul escuro - Ensino Superior */
  color: white !important;
}

.navbar-nav > li:nth-child(5) > a {
  background-color: #379CD4; /* laranja - Ensino Básico */
  color: white !important;
}



/* Bordas entre seções */
.navbar-nav > li:nth-child(5) {
  border-left: 2px solid white;
}

/* ###############################################################*/
/* Se quiser mudar apenas os links da navbar */
.navbar a {
  color: lightgrey !important;    /* Rótulos dos menus (navbar) */
  text-decoration: bold;
}

/* Ao passar o mouse */
.navbar a:hover {
  color: #E57145 !important;
 /* text-decoration: underline; */
}

/* DESLOCAMENTO DA NAVBAR */

/* Desloca os menus da navbar para a direita em 100px */
.navbar-collapse {
  margin-left: 2rem;

}



/* ########## HOVER mais destacado na navbar ##########

/* Navbar - Estilo base */
.navbar-nav > li > a {
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}


/* Itens laranja - hover mais escuro */
.navbar-nav > li:nth-of-type(1):hover > a,
.navbar-nav > li:nth-of-type(2):hover > a,
.navbar-nav > li:nth-of-type(3):hover > a,
.navbar-nav > li:nth-of-type(4):hover > a,
.navbar-nav > li:nth-of-type(5):hover > a {
  background-color: #cc4d1f !important; /* laranja escuro */
  color: white !important;
}


/* ## Menu suspenso (dropdown) da NAVBAR  #####

/* Itens do menu suspenso da navbar */
.navbar .dropdown-menu a {
  color: #E57145 !important;       /* cinza escuro */
  font-weight: 500;
  background-color: #E3E3E3;   /* cor de fundo do dropdown */
}

/* Efeito hover */
.navbar .dropdown-menu a:hover {
  color: #E57145 !important;       /* preto */
  background-color: #2c3e50 !important;
}

/* ############### Background da navbar ############

/* Cor de fundo da barra de navegação (navbar) */
.navbar {
  background-color: #2c3e50 !important; /* exemplo: azul petróleo escuro */
}

/* Se quiser mudar a cor da borda inferior */
/* .navbar, .navbar.navbar-expand-lg {
/*  border-bottom: 2px solid #ffcc00; /* linha amarela opcional */
/*} 

/* Espessura da barra de navegação */

.navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 64px !important;     /* ou 72px, 80px, etc. */
  min-height: 40px; /* Altura mínima */
}

/* ############## LOGO DO SITE ################# */

.navbar-brand,
.navbar-nav .nav-link {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 1.1rem; /* tamanho de fonte */
}
/* 1rem	padrão (16px)
1.1rem	~17.6px
1.2rem	~19.2px
1.3rem	~20.8px */

/* ############ DISTÂNCIA DE ÍCONES DA NAVBAR - DIREITA ###### */

.navbar .navbar-collapse .navbar-nav:last-child {
  margin-right: 1rem;  /* ou 20px, 32px, etc. */
}


/* ########### TAMANHO DA PÁGINA (para ajuste do sidebar) #################

/* Força o container principal a usar largura total da janela */
.body-container {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 auto !important;
  padding: 0 !important;
  display: flex;
  flex-direction: row;
}



/* ######################  SIDEBAR (menu lateral)  ##################### */

/*  Cores de blocos e plano de fundo individuais

/*  BLOCO 1: JSPLOTLY */
/* Fundo laranja com links azuis e hover laranja escuro */
.sidebar-item-section:nth-of-type(1) {
  background-color: #E57145 !important; /* laranja */
  color: white;
  border-radius: 4px;
  padding: 2px;
  margin-bottom: 4px;
}

.sidebar-item-section:nth-of-type(1) .sidebar-section-title {
  background-color: #2a6fb3 !important;  /* azul escuro no título apenas */
  color: white !important;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 4px;
}

.sidebar-item-section:nth-of-type(1) a {
  background-color: #379CD4 !important;  /* azul */
  color: white !important;
  display: block;
  padding: 6px 10px;
  margin-bottom: 4px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
}

.sidebar-item-section:nth-of-type(1) a:hover {
  background-color: #cc4d1f !important;  /* laranja escuro */
  color: white !important;
}



/* BLOCO 2: JMOL */
.sidebar-item-section:nth-of-type(2) {
  background-color: #379CD4 !important;
  border-radius: 10px;
  padding: 2px; /* mesmo padding do bloco 1 */
  margin-bottom: 4px;
}

.sidebar-item-section:nth-of-type(2) .sidebar-section-title {
  background-color: #c6541d !important;
  color: white !important;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 6px;
}

.sidebar-item-section:nth-of-type(2) a {
  background-color: #E57145 !important;
  color: white !important;
  display: block;
  padding: 6px 10px;          /* igual ao bloco 1 */
  margin-bottom: 4px;         /* igual ao bloco 1 */
  border-radius: 4px;         /* igual ao bloco 1 */
  font-weight: 500;
  text-decoration: none;
}

.sidebar-item-section:nth-of-type(2) a:hover {
  background-color: #1e4e79 !important;
  color: white !important;
}


/* BLOCO3:  R & RSTUDIO */

/* Fundo laranja com links azuis e hover laranja escuro */
.sidebar-item-section:nth-of-type(3) {
  background-color: #E57145 !important; /* laranja */
  color: white;
  border-radius: 4px;
  padding: 2px;
  margin-bottom: 4px;
}

.sidebar-item-section:nth-of-type(3) .sidebar-section-title {
  background-color: #2a6fb3 !important;  /* azul escuro no título apenas */
  color: white !important;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 4px;
}

.sidebar-item-section:nth-of-type(3) a {
  background-color: #379CD4 !important;  /* azul */
  color: white !important;
  display: block;
  padding: 6px 10px;
  margin-bottom: 4px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
}

.sidebar-item-section:nth-of-type(3) a:hover {
  background-color: #cc4d1f !important;  /* laranja escuro */
  color: white !important;
}


/* BLOCO 4: SISMA */


.sidebar-item-section:nth-of-type(4) {
  background-color: #379CD4 !important;
  border-radius: 10px;
  padding: 2px; /* mesmo padding do bloco 1 */
  margin-bottom: 4px;
}

.sidebar-item-section:nth-of-type(4) .sidebar-section-title {
  background-color: #c6541d !important;
  color: white !important;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 6px;
}

.sidebar-item-section:nth-of-type(4) a {
  background-color: #E57145 !important;
  color: white !important;
  display: block;
  padding: 6px 10px;          /* igual ao bloco 1 */
  margin-bottom: 4px;         /* igual ao bloco 1 */
  border-radius: 4px;         /* igual ao bloco 1 */
  font-weight: 500;
  text-decoration: none;
}

.sidebar-item-section:nth-of-type(4) a:hover {
  background-color: #1e4e79 !important;
  color: white !important;
}


/*  BLOCO 5: SCRIPTRPLOT */

/* Fundo laranja com links azuis e hover laranja escuro */
.sidebar-item-section:nth-of-type(5) {
  background-color: #E57145 !important; /* laranja */
  color: white;
  border-radius: 4px;
  padding: 2px;
  margin-bottom: 4px;
}

.sidebar-item-section:nth-of-type(5) .sidebar-section-title {
  background-color: #2a6fb3 !important;  /* azul escuro no título apenas */
  color: white !important;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 4px;
}

.sidebar-item-section:nth-of-type(5) a {
  background-color: #379CD4 !important;  /* azul */
  color: white !important;
  display: block;
  padding: 6px 10px;
  margin-bottom: 4px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
}

.sidebar-item-section:nth-of-type(5) a:hover {
  background-color: #cc4d1f !important;  /* laranja escuro */
  color: white !important;
}



/* Acomodação ################## */

/* Garante que o container principal use flexbox horizontal */
.body-container {
  display: flex;
  flex-direction: row;
}

/* Sidebar na esquerda */
.sidebar {
  order: -1;
  min-width: 250px;
  max-width: 300px;
  margin-right: 1.5rem;  /* espaço entre sidebar e conteúdo */
}

/* Ajustar o conteúdo para ocupar o restante */
main.content {
  flex: 1;
  padding-left: 0;  /* remove qualquer recuo adicional */
}

/* Ajuste estéticos

.sidebar .quarto-title-block {
  display: none; /* oculta título duplicado */
}

.sidebar .sidebar-item-container {
  background-color: #f26930;
  border-radius: 12px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  color: #379CD4;
}

.sidebar a {
  color: white;
  text-decoration: none;   /* cor da fonte do side bar */
  font-weight: none;
}

.sidebar a:hover {
  color: #E3E3E3;
  text-decoration: underline;
}


/*#############################################################

/* Plano de Fundo pro Sidebar */
.sidebar-item {
  background-color:  #E57145 ;
  color:#E3E3E3;                   /* fundo laranja e hover cinza */
  border-radius: 10px;
  padding: 0px;
}

/* Altera a cor de fundo da coluna lateral esquerda */
.sidebar, .quarto-sidebar, .nav-sidebar, .card, .menu-section {
  background-color: #E3E3E3 !important; /* cor de fundo ao redor da sidebar */
  border: none;
}


/* #########  Deslocamento ########################*/ 
/* Mover a sidebar para a esquerda */
.sidebar {
  order: -1;
  border-right: 1px solid #ccc;
  border-left: none;
}

/* Ajustes adicionais para que o conteúdo se comporte bem */
.body-container {
  display: flex;
  flex-direction: row;
}


/* ########## PLANO DE FUNDO TRANSPARENTE PARA AS PÁGINAS ##########

/* ########## PLANO DE FUNDO TRANSPARENTE PARA AS PÁGINAS PRINCIPAIS ##########

/* Aplica a imagem de fundo só no lado esquerdo (área da sidebar) */
.page-columns {
  position: relative; /* importante para o ::before funcionar corretamente */
  z-index: 0;
}

/* ########################## */
/* PLANO DE FUNDO VISÍVEL E NÍTIDO */
/* Substitui o antigo bloco que expandia verticalmente a imagem */
/* ########################## */

.page-columns::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Imagem original */
  background-image: url("static/img/fundo-geral.png");

  /* Evita repetição */
  background-repeat: no-repeat;

  /* Mantém proporção e mostra toda a imagem */
  background-size: contain;

  /* Alinhamento da imagem */
  background-position: top left;

  /* Ajuste de transparência (0 = invisível, 1 = opaco) */
  opacity: 0.2;

  /* Garante que fique atrás do conteúdo */
  z-index: -1;
}


/* #### atrás do sidebar

/* Remove o fundo cinza da área lateral */
.sidebar {
  background-color: transparent !important;
  box-shadow: none !important;
}


/* ##################################

/* ############ LARGURA DA BARRA LATERAL ############### */


/* Garante que o conteúdo principal se desloque corretamente */
main.content {
  margin-left: 10px !important; /* DISTÂNCIA DA BORDA PARA O TEXTO DA PÁGINA PRINCIPAL */
  max-width: none;
}


/* ###############  RODAPÉ  #################### */

/* Altera o fundo e a cor do texto no rodapé */
.footer, .page-footer, .quarto-page-footer {
  background-color: #1e2d3d; /* cor de fundo: cinza escuro, por exemplo */
  color: #f0f0f0 !important; /* cor do texto: quase branco */
  padding: 1rem 2rem;
}



/*##############################################################################*/

/* ESTILOS DE PLANO DE FUNDO E QUADROS DO SITE ERRE  /*


/* Quadro de atividades*/

.reminder-markdown {
    background-color: #ffeb99; /* Fundo amarelo claro */
    padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #f0ad4e; /* Barra lateral laranja */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 20px;       /* Espaçamento inferior */
}

/*Quadro de objetivos*/

.reminder-objetivos {
    background-color: #b4e7ae; /* Fundo  */
    padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #b4e7ae  /* Barra lateral */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 20px;       /* Espaçamento inferior */
}

/* Plano de Fundo 
body {
  background: linear-gradient(-45deg, #a1c4fd, #c2e9fb, #d4fc79, #96e6a1);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
*/



/* Plano de fundo de áreas e ODR*/

.mat-fundo {
  background-color: #A9D0F5; /* Azul Claro Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #2f58d0 /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 0px;       /* Espaçamento inferior */
    width: 100%;
}

.fis-fundo {
  background-color: #D0E1F5; /* Cinza Azulado Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #44bbae; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 0px;       /* Espaçamento inferior */
    width: 100%;
}

.quim-fundo {
   background-color: #D0F5A9; /* Fundo*/
    padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #00FF7F; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 0px;       /* Espaçamento inferior */
    width: 100%;
}


.biol-fundo {
  background-color: #A9F5D0; /* Verde Menta Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #00ff98; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 0px;       /* Espaçamento inferior */
    width: 100%;
}

.hum-fundo {
  background-color: #F5E3C8; /* Bege Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #e2d2d8; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 0px;       /* Espaçamento inferior */
    width: 100%;
}

.ling-fundo {
  background-color: #E3D0F5; /* Lilás Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #bf9ca9; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 0px;       /* Espaçamento inferior */
    width: 100%;
}


.hist-fundo {
  background-color: #DAA520; /* Lilás Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #DAA560; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 0px;       /* Espaçamento inferior */
    width: 100%;
}

.geo-fundo {
  background-color: #4682F4; /* Lilás Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #4682B4; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 0px;       /* Espaçamento inferior */
    width: 100%;
}



/* Cor de fundo para os quadros de sugestões para áreas e ODR*/

.mat-fundo2 {
  background-color: #E4F0FC; /* Azul Claro Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #2f58d0 /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 20px;       /* Espaçamento inferior */
    width: 100%;
}

.fis-fundo2 {
  background-color: #F0F7FC; /* Cinza Azulado Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #44bbae; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 20px;       /* Espaçamento inferior */
    width: 100%;
}

.quim-fundo2 {
   background-color: #F1FCE4 ; /* Fundo*/
    padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #00FF7F; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 20px;       /* Espaçamento inferior */
    width: 100%;
}


.biol-fundo2 {
  background-color: #E8FCF2; /* Verde Menta Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #00ff98; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 20px;       /* Espaçamento inferior */
    width: 100%;
}

.hum-fundo2 {
  background-color: #FBF5ED; /* Bege Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #e2d2d8; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 20px;       /* Espaçamento inferior */
    width: 100%;
}

.ling-fundo2 {
  background-color: #F7EFFE; /* Lilás Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #bf9ca9; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 20px;       /* Espaçamento inferior */
    width: 100%;
}

.hist-fundo2 {
  background-color: #DAA560; /* Azul Claro Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #DAA520 /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 20px;       /* Espaçamento inferior */
    width: 100%;
}


.geo-fundo2 {
  background-color: #4682B4; /* Lilás Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #4682F4; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 0px;       /* Espaçamento inferior */
    width: 100%;
}

/* ######################################### */

/* COR E QUADRO DE FUNDO PARA O JSPLOTLY - Superior*/

/* Quadro do gráfico clicável */

.jsplotly_sup-fundo {
  background-color: #d8dbf9; /* Lilás Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #cbceee; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 0px;       /* Espaçamento inferior */
    width: 100%;
}

/* Quadro de sugestões */

.jsplotly_sup-fundo2 { 
  background-color: #cbceee; /* Lilás Suave */
  padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #d8dbf9; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 0px;       /* Espaçamento inferior */
    width: 100%;
}

/* ################################################### */

/* Imagem de fundo pra Introdução do Jardim 

.planta-background {
  background-image: url('Portfolio/Jardim/plantinhas.jpg'); /* Substitua pelo caminho da imagem */
  background-size: cover; /* Cobre toda a área */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-position: center center; /* Centraliza a imagem */
  opacity: 0.7; /* Define a transparência para ser discreto */
  padding: 20px; /* Adiciona espaço ao redor do conteúdo */
  border-radius: 10px; /* Bordas arredondadas, opcional */
  
/*#######################  COR DE CHUNKS DE R ######################### */

/* Fundo e borda para chunks de código (R, Python, etc.) */
pre.sourceCode {
  background-color:  #e8f0ff !important;  /* ou #e8f0ff para tom azulado */
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 1rem;
  overflow-x: auto;
}

/* Para destacar blocos de output também */
div.sourceCode {
  background-color: #e8f0ff !important;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

/* Opcional: mudar fonte para monoespaçada elegante */
code, pre, kbd, samp {
  font-family: 'Fira Code', monospace;
}
